[Desktop Entry]
Name=Alacritty
Comment=A fast, cross-platform, OpenGL terminal emulator
Exec=/home/pibouill/.cargo/bin/alacritty
Icon=/home/pibouill/Pictures/logo/alacritty-term.svg
Terminal=false
Type=Application
Categories=Utility;TerminalEmulator;
