[Desktop Entry]
Name=Obsidian
#Exec=AppRun --no-sandbox %U
Exec=/home/pibouill/bin/obsidian/obsidian
Terminal=false
Type=Application
Icon=/home/pibouill/Pictures/logo/obsidian.png
StartupWMClass=obsidian
X-AppImage-Version=1.7.7
Comment=Obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
