Language: Cpp
BasedOnStyle: LLVM
Standard: c++98
SpacesInAngles: false
CheckCXX98: true
AccessModifierOffset: -4
IndentAccessModifiers: true
AlignAfterOpenBracket: Align
AlignOperands: Align
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
ColumnLimit: 80
UseTab: Always
IndentWidth: 4
PointerAlignment: Left
ReflowComments: true
TabWidth: 4
MaxEmptyLinesToKeep: 1
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
IndentCaseLabels: false
NamespaceIndentation: None
SpacesInParentheses: false
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: false
DerivePointerAlignment: false
