Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignOperands: Align
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
ColumnLimit: 80
IndentWidth: 4
PointerAlignment: Left
ReflowComments: true
TabWidth: 4
UseTab: ForIndentation
MaxEmptyLinesToKeep: 1
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
IndentCaseLabels: false
NamespaceIndentation: None
SpacesInParentheses: false
