Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
IndentAccessModifiers: true
AlignAfterOpenBracket: Align
AlignOperands: Align
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
ColumnLimit: 80
IndentWidth: 4
PointerAlignment: Left
ReflowComments: true
TabWidth: 4
UseTab: Always
MaxEmptyLinesToKeep: 1
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
IndentCaseLabels: false
NamespaceIndentation: None
SpacesInParentheses: false
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: false
DerivePointerAlignment: false
