CompileFlags:
  Add: 
    - -Wall
    - -Werror
    - -Wextra
    - -pedantic
    - -std=c++98
    - -Wdeprecated-declarations
    - -I/usr/include
    - -I/usr/local/include

Diagnostics:
  ClangTidy:
    Add: 
      - modernize-*
      - performance-*
      # - readability-*
    Remove:
      - modernize-use-trailing-return-type
      - modernize-use-auto
      - modernize-use-nullptr
      - modernize-use-using

---
If-Scope: Local
