[Desktop Entry]
Name=Mixxx
GenericName=DJ Software
Comment=Free DJ software that gives you everything you need to perform live DJ mixes.
Exec=/home/pibouill/goinfre/mixxx-install/run_mixxx.sh %U
Icon=/home/pibouill/goinfre/mixxx-install/share/icons/hicolor/scalable/apps/mixxx.svg
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Mixer;
MimeType=audio/x-wav;audio/x-mp3;audio/x-ogg;audio/x-flac;
Keywords=dj;mixer;mp3;
