[Desktop Entry]
Name=Obsidian
Exec=/home/pibouill/bin/obsidian %u
Icon=/home/pibouill/.local/share/applications/icons/obsidian-icon.png
Type=Application
MimeType=x-scheme-handler/obsidian;
Categories=Office;TextEditor;
