[Desktop Entry]
Name=WhatsApp
Exec=/home/pibouill/bin/whatsapp
Icon=/home/pibouill/.local/share/applications/icons/whatsapp.png
Type=Application
Categories=Network;InstantMessaging;
